name: macos

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - "main"

permissions:
  contents: read

jobs:
  scan-snyk:
    uses: ./.github/workflows/scan-snyk.yml
    secrets: inherit
  macos:
    runs-on: macos-15-large
    steps:
    - uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd
      with:
        xcode-version: 'latest-stable'
    - uses: actions/checkout@v6

    - name: Run build
      run: .ci/scripts/build.sh

    - name: Run test
      run: xcodebuild -scheme apm-agent-ios-Package -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 17' test

    - name: Run package snapshots
      run: .ci/scripts/package.sh

    - uses: actions/upload-artifact@v7
      with:
        name: packages
        path: |
          dist/**
