name: macos

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - "main"

permissions:
  contents: read

jobs:
  macos:
    runs-on: macos-latest
    steps:
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '15.2'
    - uses: actions/checkout@v4

    - name: Run build
      run: .ci/scripts/build.sh

    - name: Run test
      run: xcodebuild -scheme apm-agent-ios-Package -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 8' test

    - name: Run package snapshots
      run: .ci/scripts/package.sh

    - uses: actions/upload-artifact@v4
      with:
        name: snapshoty
        path: |
          .ci/snapshoty.yml
          dist/**
